body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: black;
  padding-bottom: 70px;
}

nav, .navbar {
  background-color: #0C3245;
  border-radius: 0px;
}

footer {
    background-color: #0C3245;
    padding: 10px;
    color: white;
}

footer a {
  color: white;
}

main a {
  color: #F17300;
}

a:hover, a:focus {
  color: #F17300;
}

#Logo {
  width: 6.25%;
  max-width: 120px;
  min-width: 50px;
}

#AnimatedLogo {
    width: 35%;
    max-width: 672px;
    min-width: 280px;
}

#Construction {
  margin-bottom: 10px;
  max-width: 100px;
  width: 15%;
}


@media only screen and (max-width: 768px) {
  #AnimatedLogo {
    display: none;
  }

  body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: black;
  }
}
