body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: black;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  flex: 0 1 auto;
}

main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  flex: 0 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0C3245;
  color: white;
}

nav {
  background-color: #0C3245;
}

main a {
  color: #F17300;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover, footer a:focus {
  color: #F17300;
  text-decoration: underline;
}

.center-text {
  text-align: center;
}

.text {
  line-height: 1.5em;
}

#construction {
  margin: 1em 0 0 0;
  max-width: 100px;
  width: 15%;
}

#logo {
  margin-left: 1em;
  width: 15%;
  max-width: 120px;
  min-width: 50px;
}

@media only screen and (max-width: 768px) {
  body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: black;
  }

  #logo {
    content: url("../images/logo_no_name_white.svg");
  }
}
